i:hover{
cursor:pointer;
}

.botones{
	display: flex;
	justify-content: space-between;
}

.rep{
	background: cadetblue;
    border-radius: 12px;
    padding: 10px;
    margin-left: 5px;
    text-align: -webkit-center;
    text-align:center;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

.title{
    color:steelblue;
}